{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <p class="heading">Categories</p>
        <div class="row">
            {% for category in page_obj %}
                <div class="col-md-3 mb-4">
                    <div class="card d-flex justify-content-center">
                        <div>
                            <img src="{{ category.image_url }}" class="card-img-top p-1" alt="{{ category.name }}">
                        </div>
                        <div class="card-body m-0">
                            <p class="card-title h4 text-center m-0">{{ category.name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
{% endblock %}
