{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center mb-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-center heading">Login</p>
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="custom-form-label" for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label class="custom-form-label" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
