/* Account Register Error */
.errorlist{
    color:red;
    list-style: none;
}

.custom-form-label{
    display: block;
    font-weight: normal;
    margin:10px 0 1px 5px;
}

.heading{
    font-size: 2.2rem;
    font-weight: bolder;
}

.admin-btn{
    color:red !important;
    font-weight: bold;
}
.admin-btn:hover{
    color:yellow !important;
}

.brand{
    text-decoration: none !important;
    color:white;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 10px;
    margin: 0 15px 0 0;
}

.brand:hover{
    color:darkgrey;
}