{% extends 'base.html' %}

{% block content %}
    {% include 'common/alerts.html' %}


    <div class="container">
        <p class="heading text-center">Quizzes</p>
        <div class="question-header">
            {% if user.is_authenticated %}
                <div class="container-flex">
                    <a class="btn btn-success" href="{% url 'add_quiz' %}">Add Quiz</a>
                </div>
            {% endif %}
            <form class="form-inline justify-content-center mb-4">
                <input type="text" class="form-control mr-sm-2" name="search" value="{% if search_query %}{{ search_query }} {% else %}{% endif %}"
                       placeholder="Search by quiz name or user" autocomplete="off">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form class="form-inline justify-content-center mb-4">
                <label class="mr-2" for="categorySelect">Select Category:</label>
                <select id="categorySelect" class="form-control" onchange="location = this.value;">
                    <option value="{% url 'list_quiz' %}" {% if not selected_category %}selected{% endif %}>All</option>
                    {% for category in categories %}
                        <option value="{% url 'list_quiz' %}?category={{ category.id }}"
                                {% if selected_category == category.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {% if not page_obj %}
            <p class="h4 text-center mt-4 mb-4">No quizzes in this category yet.</p>
        {% endif %}

        <div class="row">
            {% for quiz in page_obj %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a class="nav-link card-hover" href="{% url 'start_quiz' quiz_id=quiz.pk %}">
                            <div class="card-body">
                                <p class="card-title h5 a-text">{{ quiz.name }} <span
                                        class="text-secondary h6 a-text">by</span> {{ quiz.user }}</p>
                                <img src="{{ quiz.image_url }}" class="card-img-top quiz-img p-1" alt="Quiz Image">
                                <div class="text-right mt-2">
                                <span class="badge badge-info">
                                    {{ quiz.questions.count }} {% if quiz.questions.count == 1 %}Question {% else %}
                                    Questions {% endif %}
                                </span>
                                </div>
                            </div>
                        </a>
                        <div class="card-footer text-center">
                            <a href="{% url 'leaderboard' quiz.pk %}" class="btn btn-primary">Leaderboard</a>

                            {% if user.is_staff or user.id == quiz.user.id %}
                                <a href="{% url 'edit_quiz' quiz.pk %}" class="btn btn-warning">Edit</a>
                                {% if user.is_superuser or user.id == quiz.user.id %}
                                    <a href="{% url 'delete_quiz' quiz.pk %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page=1{% if selected_category %}&category={{ selected_category }}{% endif %}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page=
                                {{ page_obj.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">Previous</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page=











                                    {{ i }}{% if selected_category %}&category={{ selected_category }}{% endif %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page=











                                {{ page_obj.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page=











                                {{ page_obj.paginator.num_pages }}{% if selected_category %}&category={{ selected_category }}{% endif %}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
