{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizy</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<header>
    {% include 'common/navigation.html' %}
</header>
<div class="container mt-5">
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<footer class="bg-dark text-white py-4 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Quizy 2023</p>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled d-flex justify-content-end">
                    <li class="mx-2"><a class="text-white" href="{% url 'list_question' %}">Questions</a></li>
                    <li class="mx-2"><a class="text-white" href="{% url 'list_category' %}">Categories</a></li>
                    <li class="mx-2"><a class="text-white" href="{% url 'list_quiz' %}">Quizzes</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>
